table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border: black solid 2px;
}
th{
    border: black solid 2px;
}
td{
    border: black solid 2px;
}